//
//  Release.xcconfig
//  VerseByVerse
//
//  Created by Jaden Zaleski on 6/7/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_BASE_URL = https:/$()/vbv-api-dev.jadenzaleski.com

// LogLevel raw values: 0=trace, 1=debug, 2=info, 3=warning, 4=error, 5=fault.
DEFAULT_LOG_LEVEL = 2
